@model Technoland.Web.Models.CommentViewModel
<div class="alert alert-dismissible alert-success">
    <div>Коментар от: <em>@Model.AuthorUsername</em></div>
    <div class="text-danger">@Model.Content</div>
</div>

